{% load staticfiles %}
<section class="mid-section mid-section-prod1 new-row-prodct">
   <div class="container">
      <div class="product-block-l">
         <div class="row">
            <div id="images_view_id">
               {% include 'partial-product_image_view.html' with images=details.image %}
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
               <div class="prdouct-detail-l">
                  <h2 class="product-name pintrest-s">{{details.title}} 
                     <img border="0" src="https://cache.addthiscdn.com/icons/v3/thumbs/32x32/pinterest.png" title="Pin It" />
                     </a> -->
                     <a href="http://pinterest.com/pin/create/button/?url=http://localhost:8000{{ request.get_full_path }}&media={{details.image}}&description={{details.description}}" class="pin-it-button" count-layout="horizontal" target="_blank">
                     <img border="0" src="https://cache.addthiscdn.com/icons/v3/thumbs/32x32/pinterest.png" title="Pin It" />
                     </a>
                     <a class="pull-right" href="https://twitter.com/home?status=http://ec2-52-74-218-145.ap-southeast-1.compute.amazonaws.com:8000{{ request.get_full_path }}" target="_blank"><img src="https://cache.addthiscdn.com/icons/v3/thumbs/32x32/twitter.png" border="0" alt="Twitter" style="margin: 3px;"/></a>
                     </a>
                     <a class="pull-right" href="https://www.facebook.com/sharer/sharer.php?u=http://ec2-52-74-218-145.ap-southeast-1.compute.amazonaws.com:8000{{ request.get_full_path }}&title={{details.title}}&image={{details.image}}" target="_blank"/><img src="https://cache.addthiscdn.com/icons/v3/thumbs/32x32/facebook.png" border="0" alt="Facebook" style="margin: 3px;"/></a>
                     <a class="pull-right" href="https://api.addthis.com/oexchange/0.8/forward/email/offer?url=http://ec2-52-74-218-145.ap-southeast-1.compute.amazonaws.com:8000/product_detail/handi/" target="_blank"><img src="https://cache.addthiscdn.com/icons/v3/thumbs/32x32/email.png" border="0" alt="Email" style="margin: 3px;"/></a>
                  </h2>
                  <div class="product-rating row">
                     <div class="col-sm-6">
                        <div class="star-rank-block">
                           <div class="star-rank">
                              {% for c in loop_count %} 
                              {% if c > rating_comp%}
                              <i class="fa fa-star"></i> 
                              {% else %}
                              <i class="fa fa-star y-color"></i> 
                              {% endif %} 
                              {% endfor %}
                           </div>
                           <a href="javascript:void(0);">{{total_review.count}} Customer Reviews</a>
                        </div>
                     </div>
                     <div class="col-sm-6 stock-btn-block">
                        <strong>Availability</strong> {% if details.in_stock %}
                        <button class="btn btn-green"> In Stock</button> {% else %}
                        <button class="btn btn-red2"> Out Of Stock </button>{%endif%}
                     </div>
                  </div>
                  <div class="cod-block">
                     <div class="row">
                        {% if details.selling_price %}
                        <div class="col-sm-6">
                           <div class="price-block">
                              <span class="{{details.selling_price}} new-price">$ {{details.selling_price |floatformat:2}}</span>
                              $ <del class="old-price">{{details.price |floatformat:2}}</del>
                           </div>
                        </div>
                        {% else %}
                        <div class="col-sm-6">
                           <div class="price-block">
                              <span class="{{details.price}} new-price">$ {{details.price |floatformat:2}}</span>
                           </div>
                        </div>
                        {% endif %}
                        <div class="col-sm-6 cod-btn-block">
                           <a href="javascript:void(0);">Cash On Delivery {% if details.payment_method.case_on_delivery %} Available {% else %} Not Available{% endif %}</a>
                        </div>
                     </div>
                  </div>
                  <div class="product-description">
                     <h3 class="desc-head">{{details.description | safe}}</h3>
                  </div>
                  <div class="product-sold">
                     <p>Sold by <span class="r-color">{{seller}}</span> ({{rating_comp}} out of 5 | {{total_review.count}} ratings) and Fulfilled by <span class="r-color">Juntos Peru.</span></p>
                  </div>
                  {% if details.in_stock %}
                  <div class="product-varity cus_varity_prod">
                     <div class="row">
                        <div class="col-sm-3">
                           <div class="quantity-block varity-common">
                              <label class="control-label">Quantity</label>
                              <div class="sp-quantity">
                                 <div class="sp-minus fff">
                                    <button id="btnSubmit" class="ddd" onclick="increase_by_one('qnty-{{details.id}}');">+</button>
                                 </div>
                                 <div class="sp-input">
                                    <input type="text" name="quantity" value="1" class="quntity-input" id="qnty-{{details.id}}">
                                 </div>
                                 <div class="sp-plus fff">
                                    <button class="ddd" onclick="decrease_by_one('qnty-{{details.id}});"></button>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-4">
                           <div class="color-block varity-common">
                              <label class="control-label">Color</label>
                              <ul class="product-picker">
                                 {% for color in colors.all %}
                                 <li class="radio">
                                    <input type="radio" name="colors" value="{{color.id}}" id="{{color.id}}-option" class="color_radion" onclick="return get_images(this, {{color.id}})">
                                    <label for="{{color.id}}-option">&nbsp;</label>
                                    <div class="check" style="background-color:{{color.color}};">&nbsp;</div>
                                 </li>
                                 <li class="changecolor" style="background-color:{{color.color}};"></li>
                                 </a>
                                 {% endfor %}
                              </ul>
                              <span style="font-size: 12px;color: #fff;padding: 3px 8px;border-radius: 9px;background: #000;display: none;" id="checker">Please select Color & Size.</span>
                           </div>
                        </div>
                        {% if flage %}
                        <div class="col-sm-5">
                           <div class="size-block varity-common">
                              <label class="control-label">Size <a href="javascript:void(0);" data-toggle="modal" data-target="#size_chart" class="btn btn-info btn-xs">Size Chart</a></label>
                              <ul class="product-picker">
                                 <li class="radio">
                                    <input type="radio" id="s-option" name="sizes" value="1">
                                    <label for="s-option"></label>
                                    <div class="check">S</div>
                                 </li>
                                 <li class="radio">
                                    <input type="radio" id="m-option" name="sizes" value="2">
                                    <label for="m-option"></label>
                                    <div class="check">M</div>
                                 </li>
                                 <li class="radio">
                                    <input type="radio" id="l-option" name="sizes" value="3">
                                    <label for="l-option"></label>
                                    <div class="check">L</div>
                                 </li>
                                 <li class="radio">
                                    <input type="radio" id="xl-option" name="sizes" value="4">
                                    <label for="xl-option"></label>
                                    <div class="check">XL</div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                        {% else %}
                        <div class="col-sm-5">
                           <div class="size-block varity-common">
                              <label class="control-label">Size</label>
                              <ul class="product-picker">
                                 <li class="radio">
                                    <input type="radio" id="s-option" name="sizes" value="6">
                                    <label for="s-option"></label>
                                    <div class="check">6</div>
                                 </li>
                                 <li class="radio">
                                    <input type="radio" id="m-option" name="sizes" value="7">
                                    <label for="m-option"></label>
                                    <div class="check">7</div>
                                 </li>
                                 <li class="radio">
                                    <input type="radio" id="l-option" name="sizes" value="8">
                                    <label for="l-option"></label>
                                    <div class="check">8</div>
                                 </li>
                                 <li class="radio">
                                    <input type="radio" id="x-option" name="sizes" value="9">
                                    <label for="x-option"></label>
                                    <div class="check">9</div>
                                 </li>
                                 <li class="radio">
                                    <input type="radio" id="xxl-option" name="sizes" value="10">
                                    <label for="xxl-option"></label>
                                    <div class="check">10</div>
                                 </li>
                                 <li class="radio">
                                    <input type="radio" id="xl-option" name="sizes" value="11">
                                    <label for="xl-option"></label>
                                    <div class="check">11</div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                        {% endif %}
                     </div>
                  </div>
                  <div class="add-to-cart-btn cus_cart">
                     <form id="form_configure" name="form1" class="form-horizontal popup-container" method="POST" action="{% url 'Juntos:views-cart' %}">
                        {% csrf_token %}
                        <input type="hidden" name="card_data" id="card_data">
                        <button type="button" class="btn btn-primary" onclick="add_cart_details(this, {{details.id}})">ADD TO CART</button>
                     </form>
                  </div>
               </div>
               {% if details.feature %}
               <div class="col-xs-6 pull-right">
                  <div class="card-block">
                     <h4 class="card-title">Features</h4>
                     <p class="card-text">{{details.feature}}</p>
                     <div class="dropdown dropdown-large">
                        <ul class="dropdown-menu col-md-12">
                           <li class="col-sm-12 ">
                              {{details.feature}}
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               {% endif %} {% if details.payment_method.services %}
               <div class="col-xs-6 pull-right">
                  <div class="card-block">
                     <h4 class="card-title">Services</h4>
                     <p class="card-text">{{details.payment_method.services  }}</p>
                     <div class="dropdown dropdown-large">
                        <ul class="dropdown-menu col-md-12">
                           <li class="col-sm-12">
                              {{details.payment_method.services }}
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               {% endif %}
               {% else %}
               {% if user.is_customer %}
               <a href="{% url 'Juntos:add_whishlist' details.id %}"><i style="color: red;" class="fa fa-heart text-primary"></i> Add to Wishlist</a>
               {% endif %}
               {% endif %}
            </div>
         </div>
      </div>
   </div>
   <script>
      function increase_by_one(field) {
          price_id=(field.split("-")[1]).toString();
          selling_price = $("#price".concat(price_id)).attr('class');
          nr = parseFloat(document.getElementById(field).value)+1;
          document.getElementById(field).value = nr;
          console.log(parseFloat(selling_price)*nr);
          $("#price".concat(price_id)).text(parseFloat(selling_price)*nr);
          check_availability_configure(nr,price_id,field)
      }
      function decrease_by_one(field) {
       nr = parseFloat(document.getElementById(field).value)-1;
       if (nr > 0) {
        selling_price = $("#price".concat(price_id)).attr('class');
        document.getElementById(field).value = nr;
       $("#price".concat(price_id)).text(parseFloat(selling_price)*nr);
          check_availability_configure(nr,price_id,field)
       }
      }
      function check_availability_configure(select_val, id,field) {
              $.ajax({
              type: 'POST',
              url: "{% url 'Juntos:check-availability' %}",
              dataType: 'json',
              data: {
                  'product': id,
                  'csrfmiddlewaretoken': '{{ csrf_token }}',
              },
              success: function(e) {
                  if(select_val >= e.quantity)
                  {
                      Lobibox.notify('error', {
                              position:'top right',
                              size: 'mini',
                              sound: false,
                              msg: "We're sorry! Only "+e.quantity+" quantity are available ",
                              title: 'Peru Juntos',
                           });
                  $("#btnSubmit").attr("disabled", true);
                      if(select_val > e.quantity)
                          document.getElementById(field).value = select_val-1
                  }
                  else{
                      $('#btnSubmit').removeAttr("disabled");
                  }
              },
          });
      }
      function get_images(obj, color) {
          var url = "{% url 'Juntos:product-image-view' 1 %}";
          $('#images_view_id').load(url.replace('1', color));
      }   
   </script>
</section>