{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<section class="cart_section">
   <div class="container">
      <div class="col-sm-12">
         <div class="heading_top">
            <h2>Wish List</h2>
         </div>
         {% if user.is_customer %}
         <div class="table-responsive">
         {% if lists %}
            <table class="table table-hover table-bordered">
               <thead>
                  <tr>
                     <th>PRODUCT</th>
                     <th>PRODUCT DESCRIPTION</th>
                     <th>PRICE</th>
                     <th>Action</th>
                  </tr>
               </thead>
               <tbody>
                  {% for product in lists %}
                  <tr>
                     <td>
                        <figure class="cart_figure">
                           <img src="{{product.product.image.0}}" alt="" />
                        </figure>
                     </td>
                     <td style="width:50%;">
                        <p>{{product.product.title | safe}} {{product.product.description | safe}}</p>
                     </td>
                     <td style="width:10%;">
                     {% if product.product.selling_price %}
                     <strong id="price{{product.product.id}}" class="{{product.product.selling_price}}">$ {{product.product.selling_price |floatformat:2}}</strong>
                     {% else %}
                     <strong id="price{{product.product.id}}" class="{{product.product.selling_price}}">$ {{product.product.price |floatformat:2}}</strong>
                     {% endif %}
                     </td>
                     <td><button class="btn btn-red2"><i class="fa fa-trash"></i><a style="padding-left:5px;color: white" href="{% url 'Juntos:remove-wishlist' product.id %}" onclick="openConfirm();">Remove </a></button></td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         {% else %}
         <div>No Wish List Product is available</div>
         {% endif %}
         </div>
         {% else%}
         <div class="col-md-5 alert alert-warning alert-dismissable ">
            <strong>Information !</strong>
            Please login to view your wish-list !
         </div>
         {% endif %}
         <div class="next-pre-cart-btn">
            <button class=" btn btn-primary" style="margin:10px;" onclick="window.history.back();"><i class="fa fa-angle-double-left"></i>&nbsp; Back</button>
            <a class="btn btn-green" style="margin:10px;" href="{% url 'Juntos:home' %}"> Continue Shopping&nbsp;<i class="fa fa-angle-double-right"></i></a>
         </div>
      </div>
   </div>
</section>
<style type="text/css">
   button{    background-color: #98a598;}
</style>
{% endblock %}