{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
	<section class="cart_section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-2 toppad" >
					<div class="heading_top">
						<h2>Profile</h2>
					</div>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">{{first_name}}</h3>
						</div>
						<div class="panel-body">
							<div class="row">
								<!-- <div class="col-md-3 col-lg-3 " align="center">  -->
									<!-- <div class="upload_pic">
										<img alt="User Pic" src="img/profile.png" class="img-thumbnail img-responsive">
										<span class="upld_icon">
											<i class="fa fa-pencil-square-o">
												<input type="file" class="file_upload" />
											</i>
										</span>
									</div> -->
<!-- 								</div> -->
								<div class=" col-md-9 col-lg-9">

									<form class="form-horizontal form_custom_edit" method="POST" id="update_profile_form_id" action="{% url 'customer:update_profile' %}">{% csrf_token %}
									{% if updte.errors %}

										{% endif %}

									<fieldset>
											<div class="form-group">
												<label class="control-label col-sm-3" for="input-lg">Full Name</label>
												<div class="col-sm-9">
													<input type="text" placeholder="Enter your name" id="first_name" name="first_name" value="{{first_name}}" class="form-control" maxlength="30" onkeypress="return onlyAlphabets(event,this);" required>

													{% if updte.errors.first_name %}

  					     							<strong style="color:red">{{ updte.errors.first_name | escape }}</strong>
					      								{% endif %}
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-sm-3" for="input-lg">E-Mail Address</label>
												<div class="col-sm-9">
													<input type="email" id='email' name='email' placeholder="Enter your email" class="form-control" value="{{email}}" maxlength="50">
													{% if updte.errors.email %}
  					     						<strong style="color:red">{{ updte.errors.email | escape }}</strong>

					      						{% endif %}
												</div>
											</div>

											<div class="form-group">
												<label class="control-label col-sm-3" for="input-lg">Mobile Number</label>
												<div class="col-sm-9">
													<input type="text" placeholder="Enter your Mobile No." name="mobile" id="mobile" value="{{mobile}}" class="form-control"
													onkeypress="return isNumber(event);" maxlength="15" minlength ="10">
													{% if updte.errors.mobile %}
  					     				<strong style="color:red">{{ updte.errors.mobile | escape }}</strong>
					      						{% endif %}
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-12">
													<button type='submit' class="btn btn-custom pull-right" href="#">Save</button>
												</div>
											</div>
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	{% endblock%}
